Werkzeug==2.0.3
flask==2.1.1
ai2thor==2.1.0
numpy
pandas
opencv-python
networkx
h5py
tqdm
vocab
revtok
matplotlib
datasets
transformers
rouge-score
nltk
torch==1.13.1
openai
pddlgym
einops
lark
ipdb
tabulate